html, body {
    padding: 0;
    border: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
    width: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -80px;
}

.push-footer {
    height: 80px;
}

a:hover {
    opacity: 75%;
}

/* HEADER */

header {
    background-color: rgb(32, 34, 34);
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: left;
}

.logo {
    padding: 0;
    border: 0;
    margin: 0;
    order: 1;
    text-align: center;
    vertical-align: middle;
    background-color: rgb(44, 44, 44);
    text-align: center;
}

.logo h1, .logo a {
    padding: 1%;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    /* vertical-align: middle; */
    text-decoration: none;
    color: aqua;
}

.header-links {
    order: 2;
    padding-left: 20px;
}

.header-links ul {

    list-style: none;
    display: flex;
    justify-content: space-around;
    width: auto;
    align-items: stretch;
    padding-left: 5px;
    padding-top: 10px;
}

.header-links li, .header-links a {
    font-size: small;
    text-decoration: none;
    color: wheat;
    padding-right: 5%;
    width: 80px;
    text-align: center;
    vertical-align: middle;
}

.header-margin {
    height: 80px;
}

/* CONTENT */

.main-content h2 {
    padding-left: 2%;
    margin: 0;
}

.gallery {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 20px;
}

figure {
    padding: 5px;
    border: 5px;
    margin: 0px;
}

.column {
    flex: 32%;
}

.column img {
    vertical-align: middle;
    width: 100%;
}

.inline-pic {
    float: right;
    padding: 20px;
    
}

.greetings {
    padding-left: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.colored {
    color: goldenrod;
}

.presentation {
    padding: 20px;
    display: block;
    margin-bottom: 20px;
}

form {
    padding: 20px;
}

.text-box {
    width: 200px;
    height: 75px;
}

/* FOOTER */

footer {
    background-color: wheat;
    color: black;
    width: 100%;
    height: 80px;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.footer-text {
    text-align: center;
    align-self: center;
    max-height: inherit;
}

.footer-text p {
    font-size: small;
    padding: 0;
    border: 0;
    margin: 0;
}